:root {
	--primary-color: #021048;
	--secondary-color: #fff;
	--tertiary-color: #c5cbd3;
	--primary-font-color: #fff;
	--secondary-font-color: #000;

	--success-color: #28a745;
	--danger-color: #dc3545;

	--navbar-height: 80px;
}

* {
	box-sizing: border-box;
}

a {
	color: inherit;
}

a:visited {
	color: inherit;
}

html {
	width: 100%;
	height: 100%;
}

body {
	font-family: "Epilogue", sans-serif;
	color: var(--primary-font-color);
	width: 100%;
	max-width: 100%;
	height: 100%;
	display: grid;
	grid-template-areas:
		"nav"
		"homepage";
	grid-template-rows: var(--navbar-height) 1fr;
}

.no-scroll {
	height: 100%;
	max-height: 100%;
	overflow: hidden;
	margin: 0;
}

/* ----- nav menu -----  */
.main-navigation {
	grid-area: nav;
	width: 100%;
	height: 100%;
	position: sticky;
	z-index: 10;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	/* background-image: url("../images/lexus.jpg"); */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left 0%;
}

#logo {
	width: 70px;
	height: 70px;
	margin-top: 5px;
	padding: 0 50px;
}

#name {
	font-size: 35px;
	font-weight: bold;
	color: var(--secondary-color);
	padding: 0.25em 0.5em;
	text-decoration: none;
	display: inline-block;
	position: relative;
}

#name.active {
	cursor: default;
}

#name:after {
	content: "";
	width: 90%;
	height: 3px;
	border-bottom: solid var(--tertiary-color) 3px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transform: translate(20px, -10px);
}

#name.active:after,
#name:hover:after {
	border-bottom: solid var(--secondary-color) 3px;
}

ul {
	margin: 0;
	list-style-type: none;
}

.nav-ul {
	float: right;
	margin: 0;
}

.nav-a {
	color: #c5cbd3;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px transparent;
	padding: 7px 10px;
	border-radius: 3px;
}

.nav-li {
	text-align: center;
	min-width: fit-content;
	display: inline-block;
	margin: 0 8px;
	line-height: var(--navbar-height);
	font-weight: bold;
}

.nav-a.active {
	color: var(--secondary-color);
	cursor: default;
}

.main-navigation .nav-a:not(.active):hover {
	color: #fff;
}

/* hamburger */
.hamburger {
	display: none;
}

#menu_checkbox {
	display: none;
}

#menu_checkbox_label {
	display: none;
	width: 40px;
	height: 40px;
	cursor: pointer;
	position: absolute;
	left: 10px;
	top: 20px;
}

#menu_checkbox_label div {
	position: relative;
	top: 0;
	height: 8px;
	background-color: #fff;
	margin-bottom: 8px;
	transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width,
		0.3s ease right;
	border-radius: 2px;
}

#menu_checkbox_label div:first-child {
	transform-origin: 0;
}

#menu_checkbox_label div:last-child {
	margin-bottom: 0;
	transform-origin: 40px;
}

#menu_checkbox_label div:nth-child(2) {
	right: 0;
	width: 40px;
}

#menu_checkbox:checked + label div:first-child {
	top: -4px;
	transform: rotateZ(45deg);
}

#menu_checkbox:checked + label div:last-child {
	top: 4px;
	transform: rotateZ(45deg);
}

#menu_checkbox:checked + label div:nth-child(2) {
	width: 55px;
	top: 0;
	right: 8px;
	transform: rotateZ(-45deg);
}

.hamburger-overlay {
	display: block;
	position: fixed;
	top: var(--navbar-height);
	left: -100%;
	bottom: 0;
	width: 100%;
	min-height: calc(100vh - var(--navbar-height));
	z-index: 999;
	transition: all 0.5s cubic-bezier(0.545, 0.045, 0.355, 1);
}

.hamburger-overlay.active {
	left: 0;
}

.hamburger-overlay ul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0;
}

.hamburger-overlay .nav-a {
	border-radius: 0;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.hamburger-overlay .nav-li {
	color: var(--primary-color);
	padding: 7px 0;
	margin: 0;
	width: fit-content;
	text-align: center;
	position: relative;
	z-index: 10;
}

.hamburger-overlay .nav-li:after {
	content: "";
	width: 100%;
	height: 100%;
	border-top: 5px solid var(--tertiary-color);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(10px);
	z-index: 5;
}

.hamburger-overlay .nav-li:hover:after,
.hamburger-overlay .nav-a.active .nav-li:after {
	border-top: 5px solid var(--primary-color);
}

/* change hamburger menu background colour */
.hamburger-overlay,
.hamburger-overlay .nav-li {
	background-color: var(--secondary-color);
}

/* ----- top-homepage -----  */
.homepage {
	grid-area: homepage;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.section {
	min-width: 300px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: var(--secondary-font-color);
}

.section:not(#top, #login) {
	background-color: var(--secondary-color);
}

/* top */
.section#top {
	color: var(--primary-font-color);
	font-weight: bold;
	width: 90%;
	margin: auto;
}

p.slogan {
	font-size: 5em;
	max-width: min-content;
}

/* quiz */
.quiz {
	width: 90%;
	max-width: 1000px;
	height: 100%;
	padding: 1.5em 2em;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.quiz-header {
	flex-basis: 80px;
	display: grid;
	grid-template-columns: 1fr 1fr 80%;
	justify-content: start;
	align-items: center;
}

.quiz-header .quiz-name {
	width: fit-content;
	margin: 0;
}

.quiz-progress {
	justify-self: flex-end;
	width: 50%;
	text-align: right;
	transform: translateY(20%);
}

.quiz-progress * {
	border-radius: 10px;
	max-height: 1em;
}

.quiz-progress-bar {
	min-width: 100px;
	border: solid var(--primary-color) 1px;
}

.quiz-progress-bar-fill {
	height: 20px;
	background-color: #000;
}

.quiz-progress-text {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 0.5em;
}

.quiz-body {
	flex-grow: 1 1 100%;
	grid-area: body;
}

.quiz-question {
	flex: 1 1 100%;
	display: grid;
	grid-template-areas:
		"quiz-image"
		"quiz-title"
		"quiz-answers";
	grid-template-rows: minmax(fit-content, 150px) 10px 100%;
	justify-content: center;
	min-height: fit-content;
}

.quiz-image {
	grid-area: quiz-image;
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.quiz-title {
	grid-area: quiz-title;
}

.quiz-answers {
	grid-area: quiz-answers;
	display: grid;
	grid-template-rows: repeat(auto-fill, minmax(fit-content, 1fr));
	grid-template-columns: 100%;
	justify-content: start;
	width: 100%;
	min-height: fit-content;
	padding: 0.5em 0;
}

.quiz-answer {
	min-width: 100%;
	padding: 0.75em;
	margin-bottom: 1em;
	cursor: pointer;
	border-radius: 3px;
	border: solid inherit 2px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.quiz-answer:last-child {
	margin-bottom: 0;
}

.quiz-answer:hover {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	background-color: var(--primary-color);
	color: var(--primary-font-color);
}

.quiz-answer.selected {
	cursor: default;
	background-color: var(--primary-color);
	color: var(--primary-font-color);
}

.quiz-answer.selected:hover {
	box-shadow: none;
}

.quiz-answer.correct {
	background-color: var(--success-color);
	color: var(--primary-font-color);
}

.quiz-answer.incorrect {
	background-color: var(--danger-color);
	color: var(--primary-font-color);
}

.quiz-results {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.quiz-footer {
	flex-basis: 50px;
	margin-top: 1em;
	grid-area: footer;
	position: relative;
}

.quiz-btn {
	font-weight: bold;
	cursor: pointer;
	border: none;
	border-radius: 2px;
	padding: 0.5em 0.75em;
	background-color: var(--tertiary-color);
	color: var(--secondary-font-color);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.quiz-btn-prev {
	left: 0;
}

.quiz-btn-next,
.quiz-btn-submit {
	right: 0;
}

.quiz-btn-next.inactive {
	cursor: default;
	background-color: var(--tertiary-color);
	color: var(--hint-color);
}

.quiz-btn:not(.inactive):hover {
	background-color: var(--primary-color);
	color: var(--primary-font-color);
}

.quiz-btn-retry,
.quiz-btn-results {
	position: relative;
	top: 0;
	transform: translate(0);
	width: fit-content;
	height: fit-content;
}

/* pricing */
.section#pricing {
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.license-list {
	width: 90%;
	display: flex;
	flex-direction: column;
	position: relative;
}

.license-type {
	position: relative;
}

.license-heading {
	cursor: pointer;
	margin-bottom: 0;
}

.license-heading:hover {
	text-decoration: underline;
	position: relative;
}

/* https://codepen.io/Sarah_C/pen/jWoEWb */
.license-heading:after {
	content: "";
	position: absolute;
	margin-left: 1em;
	height: 0;
	width: 0;
	border-radius: 3px;
	border: 8px solid;
	border-color: var(--primary-color) var(--primary-color) transparent
		transparent;
	transform: rotate(225deg);
	transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.license-heading.active:after {
	transform: rotate(135deg) translateY(50%);
}

.license-heading span {
	font-size: 0.75em;
}

.license-ul {
	padding: 0;
	margin: 1em 0;
	display: flex;
	flex-direction: row;
}

.pricing-btn {
	font-weight: bold;
	cursor: pointer;
	border: none;
	border-radius: 2px;
	padding: 0.5em 0.75em;
	margin-right: 1em;
	background-color: var(--tertiary-color);
	color: var(--secondary-font-color-color);
	vertical-align: middle;
}

.pricing-btn.active,
.pricing-btn:hover {
	background-color: var(--primary-color);
	color: var(--primary-font-color);
}

.license-details * {
	margin-top: 0;
}

.side-note {
	font-size: 0.8em;
}

/* contact */
.section#contact-us {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-areas: "form details";
	grid-template-columns: 1fr 1fr;
}

.section#contact-us p {
	color: var(--secondary-font-color);
}

#contact-us .form,
#contact-us .contact-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#contact-us .form {
	grid-area: form;
	align-items: end;
}

#contact-us .contact-details {
	grid-area: details;
	align-items: start;
}

#contact-us .contact-form-header,
#contact-us .form * {
	width: 70%;
}

#contact-us .contact-form-header {
	margin-bottom: 0.5em;
}

.contact-form-subheader p {
	margin: 0 0 1em 0;
}

#contact-form .input-row {
	margin-bottom: 1em;
}

#contact-form .input-row * {
	width: 100%;
	padding: 0.5em 0.2em;
}

#contact-form .input-row textarea {
	resize: none;
	margin-bottom: 0;
}

#contact-form .error-message {
	color: red;
	font-size: 0.8em;
	margin: 0;
}

#contact-form .input-row input[type="submit"] {
	cursor: pointer;
	background-color: var(--primary-color);
	color: var(--primary-font-color);
	border: none;
	border-radius: 5px;
	padding: 1em 0;
}

.contact-details ul {
	padding: 0;
	margin: 0;
}

.contact-details .contact-list {
	width: 80%;
}

.contact-details ul .contact-list-content {
	border-bottom: solid var(--primary-color) 1px;
}

.contact-details ul .contact-list-content * {
	width: 100%;
}

.contact-details ul .contact-list-content p:first-child,
.contact-details ul .contact-list-content p:first-child a {
	font-weight: bold;
	width: 100%;
	display: flex;
}

i {
	flex-basis: fit-content;
	margin-left: 0.75em;
}

/* location */
.section#location {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section#location p {
	text-align: center;
}

/* map */
#mapContainer {
	min-width: 200px;
	width: 90%;
	max-width: 700px;
	height: 480px;
}

/* login page */
.section#login {
	width: 100%;
	height: 100%;
	justify-content: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.background-image {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	object-fit: cover;
	object-position: 70% 100%;
}

.login-form {
	min-width: 300px;
	width: 100%;
	max-width: 500px;
	padding: 1.75em;
	display: grid;
	grid-template-areas:
		"title"
		"input"
		"error"
		"action";
	grid-template-rows: 1.5fr 3fr 30px 40px;
	background-color: var(--primary-color);
	border-radius: 5px;
}

.login-form h1 {
	grid-area: title;
	margin: 0.2em 0 0.5em 0;
	color: var(--primary-font-color);
}

.login-form .input-container {
	grid-area: input;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.input-field {
	width: 100%;
}

.login-form .error-message {
	grid-area: error;
	margin: 0;
	color: var(--danger-color);
	z-index: 99;
}

.login-form .form-btns {
	grid-area: action;
}

.input-field input {
	box-sizing: border-box;
	width: 100%;
	border: none;
	border-bottom: #000 1px solid;
	padding: 0.75em 0.5em;
}

.form-btns {
	display: flex;
	height: fit-content;
}

.form-btns * {
	flex: 1 1 100%;
	padding: 0.5em 0.25em;
	border: solid white 2px;
	color: var(--tertiary-color);
	background-color: #fff;
	cursor: pointer;
}

.form-btns :nth-child(1) {
	border-right: solid var(--danger-color) 1px;
}

.form-btns :nth-child(2) {
	border-left: solid var(--success-color) 1px;
}

.sign-in {
	background-color: var(--success-color);
	color: #fff;
	border-color: var(--success-color);
}

.cancel {
	background-color: var(--danger-color);
	color: #fff;
	border-color: var(--danger-color);
}

.register-btn {
	margin-top: 12px;
	background-color: #021048;
	color: #fff;
	border-color: #c5cbd3;
	border-radius: 5px;
}

.form-btns *:hover,
.form-btns *:focus {
	font-weight: bold;
	border: solid white 2px;
}

.register-btn:hover, .register-btn:focus {
	font-style: italic;
	border: solid white 2px;
}

.loading-page {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* booking */
/* appointmentThing */
.apptthingembapptthingemb.isset {
	min-width: 300px;
	width: 90%;
	max-width: 700px;
	margin: 1em auto;
}

/* registered user */
.profile-details #credits {
	color: gold;
}

/* ----- mobile view -----  */
@media (max-width: 800px) {
	p.slogan {
		font-size: 3em;
		margin: 0;
		transform: translateY(-50%);
	}

	.section#contact-us {
		color: var(--primary-color);
		grid-template-areas: "details" "form";
		grid-template-rows: 0.75fr 1fr;
		grid-template-columns: 100%;
	}

	#contact-us .form,
	#contact-us .contact-details {
		width: 100%;
		align-items: center;
	}

	#contact-us .form *,
	#contact-us .contact-details * {
		width: 90%;
	}

	#contact-us #contact-form * {
		box-sizing: border-box;
		width: 100%;
	}

	#contact-us .contact-form-header {
		margin-top: 3em;
	}

	#contact-us .input-row * {
		width: 100%;
	}
}

@media (max-width: 1000px) {
	.main-navigation {
		justify-content: center;
	}

	.hamburger {
		display: block;
	}

	#menu_checkbox_label {
		display: block;
		scale: 0.5;
	}

	#name {
		text-align: center;
		padding: 0;
	}

	#name:after {
		width: 100%;
		transform: translateY(1%);
	}

	.nav-ul {
		display: none;
	}

	nav #icon {
		display: block;
	}

	.section#login {
		background-color: transparent;
	}

	.login-form {
		background-color: transparent;
	}
}
