:root {
	--primary-color: #101935;
	--secondary-color: #f7ce72;
	--tertiary-color: #393d3f;

	--navbar-height: 80px;
}

* {
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
}

body {
	font-family: "Epilogue", sans-serif;
	width: 100%;
	max-width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

/* ----- nav menu -----  */
.main-navigation {
	flex: 0 0 var(--navbar-height);
	width: 100%;
	background: #101935;
	position: sticky;
	z-index: 10;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

#logo {
	width: 70px;
	height: 70px;
	margin-top: 5px;
	padding: 0 50px;
}

#name {
	font-size: 35px;
	font-weight: bold;
	color: var(--secondary-color);
	padding: 0.25em 0.5em;
	text-decoration: none;
	display: inline-block;
}

ul {
	margin: 0;
}

.nav-ul {
	float: right;
	margin: 0;
}

.nav-a {
	color: #c5cbd3;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px transparent;
	padding: 7px 10px;
	border-radius: 3px;
}

.nav-li {
	display: inline-block;
	margin: 0 8px;
	line-height: var(--navbar-height);
	font-weight: bold;
}

.nav-li.active {
	color: var(--secondary-color);
	cursor: default;
}

.nav-li.inactive:hover {
	text-decoration: underline;
}

/* hamburger */
.hamburger {
	display: none;
}

#menu_checkbox {
	display: none;
}

#menu_checkbox_label {
	display: none;
	width: 40px;
	height: 40px;
	cursor: pointer;
	position: absolute;
	left: 10px;
	top: 20px;
}

#menu_checkbox_label div {
	position: relative;
	top: 0;
	height: 8px;
	background-color: #fff;
	margin-bottom: 8px;
	transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width,
		0.3s ease right;
	border-radius: 2px;
}

#menu_checkbox_label div:first-child {
	transform-origin: 0;
}

#menu_checkbox_label div:last-child {
	margin-bottom: 0;
	transform-origin: 40px;
}

#menu_checkbox_label div:nth-child(2) {
	right: 0;
	width: 40px;
}

#menu_checkbox:checked + label div:first-child {
	top: -4px;
	transform: rotateZ(45deg);
}

#menu_checkbox:checked + label div:last-child {
	top: 4px;
	transform: rotateZ(45deg);
}

#menu_checkbox:checked + label div:nth-child(2) {
	width: 55px;
	top: 0;
	right: 8px;
	transform: rotateZ(-45deg);
}

.hamburger-overlay {
	display: block;
	position: fixed;
	top: var(--navbar-height);
	left: -100%;
	bottom: 0;
	width: 100%;
	min-height: calc(100vh - var(--navbar-height));
	z-index: 999;
	transition: all 0.5s cubic-bezier(0.545, 0.045, 0.355, 1);
}

.hamburger-overlay.active {
	left: 0;
}

.hamburger-overlay ul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0;
}

.hamburger-overlay .nav-a {
	border-radius: 0;
	padding: 0;
	margin: 0;
}

.hamburger-overlay .nav-li {
	color: var(--primary-color);
	padding: 7px 0;
	margin: 0;
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 10;
}

.hamburger-overlay .nav-li:after {
	content: "";
	width: 150px;
	height: 100%;
	border-top: 5px solid var(--secondary-color);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(10px);
	z-index: 5;
}

/* change hamburger menu background colour */
.hamburger-overlay,
.hamburger-overlay .nav-li {
	background-color: #fff;
}

/* ----- top-homepage -----  */
.homepage {
	flex: 1 1 100%;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.section {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.show {
	display: block;
}

/* login page */
.background-image {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	object-fit: cover;
	object-position: center;
	opacity: 0.85;
}

.login-form {
	width: 450px;
	padding: 1.5em 2em;
	display: grid;
	grid-template-areas:
		"title"
		"input"
		"error"
		"action";
	grid-template-rows: 1fr 2fr 30px 40px;
	background-color: var(--primary-color);
	margin: auto;
	border-radius: 5px;
}

.login-form h1 {
	grid-area: title;
	margin-bottom: 0.2em;
	color: var(--secondary-color);
}

.login-form .input-container {
	grid-area: input;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.login-form .error-message {
	grid-area: error;
	margin: 0;
	color: red;
	z-index: 99;
}

.login-form .form-btns {
	grid-area: action;
}

.input-field input {
	box-sizing: border-box;
	width: 100%;
	border: none;
	border-bottom: #000 1px solid;
	padding: 0.75em 0.5em;
}

.form-btns {
	display: flex;
	height: fit-content;
}

.form-btns * {
	flex: 1 1 100%;
	padding: 0.5em 0.25em;
	border: solid white 2px;
	color: var(--tertiary-color);
	background-color: #fff;
	cursor: pointer;
}

.form-btns :nth-child(1) {
	border-right: solid red 1px;
}

.form-btns :nth-child(2) {
	border-left: solid green 1px;
}

.sign-in {
	background-color: green;
	color: #fff;
	border-color: green;
}

.cancel {
	background-color: red;
	color: #fff;
	border-color: red;
}

.form-btns *:hover,
.form-btns *:focus {
	font-weight: bold;
	border: solid white 2px;
}

.loading-page {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* appointmentThing */
.apptthingembapptthingemb.isset {
	min-width: 300px;
	width: 90%;
	max-width: 700px;
	margin: 1em auto;
}

/* map */
#mapContainer {
	min-width: 200px;
	width: 90%;
	max-width: 700px;
	height: 480px;
	margin: 2em 0;
}

body.no-scroll {
	height: 100%;
	max-height: 100%;
	overflow: hidden;
	margin: 0;
}

/* ----- mobile view -----  */
@media (max-width: 1000px) {
	.main-navigation {
		justify-content: center;
	}

	.hamburger {
		display: block;
	}

	#menu_checkbox_label {
		display: block;
		scale: 0.5;
	}

	#name {
		text-align: center;
	}

	.nav-ul {
		display: none;
	}

	nav #icon {
		display: block;
	}
}
